</br>
</br>
</br>
</br>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th> <%= @user.username %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cheeses.each do |cheese| %>
      <tr>
        <td><%= cheese.name %></td>

        <td> <%= link_to 'Show', cheese %></td>
      </tr>
    <% end %>

  </tbody>
</table>


<%= link_to 'Back', users_path, class: "btn btn-default" %>
